<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ServerDao">

	<resultMap id="server" type="com.vo.Server">
		<result property="serverId" column="id" javaType="String" jdbcType="VARCHAR" />
		<result property="isOn" column="is_on" javaType="String" jdbcType="VARCHAR" />
	</resultMap>
	
    <select id="queryServerIdByIp"  parameterType="String" resultMap="server">
        <![CDATA[
           	SELECT
				id,is_on
			FROM
				timedtask_server server
			WHERE
				1=1
			AND 
				server.server_ip = #{serverIp}
		]]>
    </select>
    
    <select id="save" parameterType="String">
        <![CDATA[
           	insert into timedtask_server(server_ip,server_port,is_on,create_time,update_time) values(#{serverIp},#{serverPort},'1',now(),now());
		]]>
    </select>
</mapper>